@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Brand Colors */
    --color-primary: #0A0F1F;
    --color-primary-light: #182233;

    /* Neutrals */
    --color-bg: #E6E9EE;
    --color-border: #BFC6CE;
    --color-accent: #C8B892;

    /* Text Colors */
    --text-main: #0A0F1F;
    --text-soft: #182233;
    --test-muted: #BFC6CE;
    --text-on-dark: #E6E9EE;

    /* Font Style */
    --font-heading: "Cormorant Garamond", serif;
    --font-body: "Inter", sans-serif;

    /* Typography Scale */
    --fs-900: clamp(2.5rem, 6vw, 4rem);
    --fs-800: clamp(2rem, 5vw, 3rem);
    --fs-700: clamp(1.5rem, 3vw, 2,25rem);
    --fs-600: 1,25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;

    /* Spacing */
    --space-100: 0.25rem;
    --space-200: 0.5rem;
    --space-300: 0.75rem;
    --space-400: 1rem;
    --space-500: 1.5rem;
    --space-600: 2rem;
    --space-700: 3rem;
    --space-800: 4rem;

    /*  Header */
    --header-height-mobile: 56px;
    --header-height-desktop: 72px;
    --header-padding-inline: var(--space-400);
    --header-bg-opaque: rgba(10,15,31,0.85);
    --header-backdrop-blur: 8px;
    --header-shadow: 0 6px 20px rgba(10,15,31,0.06);
    --header-transition: 220ms ease;
}

body {
    font-family: var(--font-body);
    background: var(--color-bg);
}

.header {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height-desktop);
    z-index: 100;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: var(--header-padding-inline);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 100%;
}

.nav-logo img{
   width: 100%;
    
}


/*.nav-logo {
    font-family: var(--font-heading);
    font-size: var(--fs-500);
    text-decoration: none;
}
*/

.nav-list {
    display: flex;
    gap: var(--space-500);
    align-items: center;
    list-style: none;
    
}

.nav-list a {
    font-family: var(--font-body);
    font-size: var(--fs-500);
    text-decoration: none;
    color: var(--text-main);
}

/*.header--scrolled {
    background: var(--header-bg-opaque);
    backdrop-filter: blur(var(--header-backdrop-blur));
    box-shadow: var(--header-shadow);
    border-bottom: 1px solid var(--color-border);
    transition: background var(--header-transition),
    transform var(--header-transition),
    box-shadow var(--header-transition);

}
*/
