@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
    width: 720px;
    height: auto;
    padding: 10px;
    margin: 20px auto;
    flex: none;
    border: none 1px transparent;
    border-radius: 999px;
    background-color: #333;
    position: fixed;

}

.logo_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    list-style: none;
}

.nav_list, .nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav_list a {
    color: whitesmoke;
    text-decoration: none;

}

.about-me_container,
.skills_container,
.projects_container,
.contact_container {
    background: whitesmoke;
    padding: 5px;
    border-radius: 30px;
    color: black;
}

.nav_list a{
    color: black;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.footer {
    background: grey;
    padding: 10px;
    border: 2px solid black;
    margin: 10px auto;
}